{% extends 'base.html' %}
{% block title %}
Home Page
{% endblock title %}

{% block content %}

<div class="d-flex justify-content-end mb-3">
    <a class="btn btn-primary" href="{% url 'tweet_create' %}">Create Tweet</a>
</div>
<div class="container row gap-3">
    {% for tweet in tweets %}
    <div class="card" style="width: 18rem;">
        {% if tweet.photo %}
        <img src="{{tweet.photo.url}}" class="card-img-top" alt="Tweet image" style="height: 200px; object-fit: cover;">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ tweet.user.username }}</h5>
          {% if tweet.title %}
          <h6 class="card-subtitle mb-2 text-primary">{{ tweet.title }}</h6>
          {% endif %}
          <p class="card-text">{{ tweet.text }}</p>
          {% if tweet.content %}
          <p class="card-text text-muted small">{{ tweet.content|truncatewords:15 }}</p>
          {% endif %}
          <small class="text-muted">{{ tweet.created_at|date:"M d, Y H:i" }}</small>
          {% if tweet.user == user %}
          <div class="mt-2">
            <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary btn-sm">Edit</a>
            <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger btn-sm">Delete</a>
          </div>
          {% endif %}
        </div>
      </div>

    {% endfor %}


</div>


{% endblock content %}



